@{
    Layout = "~/Views/Shared/_LayoutMVCTest.cshtml";
}
<div class="indexMainContainer">
    <h2>MVC with Razor and CRM Dynamics 365</h2>
    <img src="~/Content/images/Dynamics-CRM.png" class="crmImage" />
</div>