<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Server=CRM Online" connectionString="Url=https://trial15423.crm.dynamics.com; Username=dynamics_trial@trial15423.onmicrosoft.com; Password=JxjRtTNVLr3hcGA; authtype=Office365"/>
  </connectionStrings>
</configuration>